:root {
	--color-purple: rgb(110, 127, 252);
	--color-purple-opacity: rgba(110, 127, 252, 0.5);
	--color-background: #f5f5f7;
	--color-text-dark: #383c4c;
	--color-text-light: #fff;
	--color-white: #fff;
	--color-icon-background: #e9ebef;
	--color-top-border: rgba(171, 171, 173, 0.99);
	--color-gradient-header-start: rgba(251, 250, 251, 1);
	--color-gradient-header-end: rgba(252, 250, 251, 1);
	--color-gradient-footer-start: #ffffff;
	--color-gradient-footer-end: #f6f6f9;
	--color-text-tabbar-secondary: #797f90;
	--color-text-tabbar-primary: #383b4f;
}

body {
	background-color: var(--color-background);
	font-family: Inter;
	min-height: 100vh;
}

/* header */

.header {
	border-bottom: 1px solid var(--color-top-border);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.header .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		0deg,
		var(--color-gradient-header-start) 0%,
		var(--color-gradient-header-end) 100%
	);
	opacity: 0.99;
}

.header .title {
	font-weight: 700;
	margin: 20px 0 10px;
	font-size: 18px;
	position: relative;
}

.header .phone-icon {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

/* footer */

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
}

/* message-box */

.footer .message-box {
	position: relative;
	z-index: 1;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 14px;
	background-color: #fff;
}

.footer .message-box .fit-width {
	flex: 1;
}

.footer .message-box input {
	border: 1px solid #dddee7;
	padding: 8px 12px;
	width: 100%;
	border-radius: 8px;
}
.footer .message-box input:focus,
.footer .message-box input:active {
	outline: none;
}

.footer .message-box .attach-icon {
	margin-right: 15px;
	position: relative;
	top: 2px;
}
.footer .message-box .send-icon {
	margin-left: 15px;
	background-color: #f4f4f7;
	padding: 6px;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

/* tabbar */

.footer .tabbar {
	position: relative;
	z-index: 2;
	background-color: #fff;
	height: 75px;
	border-radius: 30px 30px 0 0;
	box-shadow: 0px -2px 24px rgba(103, 110, 159, 0.13);
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.footer .tabbar .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer .tabbar .item .desc {
	font-weight: 500;
	font-size: 10px;
	line-height: 14px;
	color: var(--color-text-tabbar-secondary);
}
.footer .tabbar .item--active .desc {
	color: var(--color-text-tabbar-primary);
}

/* chat */

.chat {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 65px 10px 143px;
}

/* chat-message */

.chat-message {
	display: flex;
	margin-bottom: 16px;
}
.chat-message:last-child {
	margin-bottom: 0;
}

/* wrap */

.chat-message .wrap {
	max-width: 75%;
}

/* text */

.chat-message .text {
	padding: 12px;
	margin: 0;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 500;
	border-radius: 10px;
}

.chat-message .text a,
.chat-message .text a:visited,
.chat-message .text a:focus {
	color: var(--color-purple);
}

/* time */

.chat-message .time {
	color: var(--color-purple);
	margin: 0 0 6px;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	white-space: nowrap;
}

/* chat-message-user */

.chat-message-user {
	justify-content: flex-end;
}

.chat-message-user .text {
	background-color: var(--color-purple);
	color: #fafafa;
	border-bottom-right-radius: 0;
}

.chat-message-user .time {
	text-align: right;
	padding-right: 10px;
}

/* chat-message-bot */

.chat-message-bot {
	justify-content: flex-start;
}

.chat-message-bot .text {
	background-color: var(--color-white);
	color: var(--color-text-dark);
	border-bottom-left-radius: 0;
}

.chat-message-bot .text .highlight {
	color: var(--color-purple);
}

.chat-message-bot .time {
	color: var(--color-purple-opacity);
	padding-left: 55px;
}

/* author */

.chat-message.chat-message-bot .time .author {
	color: var(--color-purple);
}

/* bot-icon */

.bot-icon {
	width: 35px;
	height: 35px;
	background-color: var(--color-icon-background);
	padding: 6px;
	border-radius: 100%;
	margin-right: 10px;
}

/* text-wrap */

.text-wrap {
	display: flex;
	align-items: flex-end;
}
